<h1>Add New Song</h1>
<h2>Step 3</h2>
<p>Check if the Composer of the song exists. if not, <strong><%= link_to 'add new Composer', new_composer_path %></strong></p>
<%= render 'form' %>

<!-- <%= link_to 'Next', songs_path %> -->