<h1>The Ballad Trail</h1>

 <ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">Ballads</a></li>
  <li><a href="contact.asp">Places</a></li>
  <li><a href="about.asp">About</a></li>
  <%= link_to 'Sign Up!', signup_path %>
</ul> 
