
html, body {
    margin: 0;
}

.menu_box_background {
	float: left; 
	height: 100%; 
	width:33%; 
	background-color: #99cc66; 
	padding: 20px; 
	text-align: left;
	z-index: 1000;
	position: absolute;
	opacity: 0.7;	
	overflow: hidden;
	border-radius: 5px;
}

.menu_box {
	float: left; 
	height: 100%; 
	width:33%; 
	padding: 20px; 
	text-align: left;
	z-index: 1000;
	position: absolute;
	overflow: hidden;
	border-radius: 5px;
}


.body {
	overflow: hidden;
	font-family: "Times New Roman";
	height: 100%;
	position: relative;

}

.wrapper {
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.header {
	height: auto;
	overflow: hidden;
}

#topLine {
	height: 10px;
	background-color: #99cc66; 	
}

#links {
	position: relative;
	min-height: auto;
	background-color: #99cc66; 
}

#search {
	margin-left: 100px;
	text-decoration:none; 
}

li { 
	width: 260px;

}



nav { 
	z-index: 1001;
    width: 50px;
    height: 12px;
    top: 75px;
    padding: 2px ;  
	position:absolute;
	right: 213px;
	background-color:white; 
	font:12px, Times New Roman; 
	text-align:left;
}

nav ul { 
	padding:0; 
	margin:0; 
}

nav li { 
	position:relative; 
	float:left; 
	list-style-type:none; 
}

nav ul:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}


nav li a{ 
	display:block; 
	text-decoration:none; 
	color: black;
}

nav li a:focus { 
	outline:none; 
	text-decoration:underline; 
}

nav a span { 
	display:block;
	width:100%; 
	float:left; 
}

nav ul ul { 
	display:none; 
	width:100%; 
	position:absolute; 
	left:0; 
	background:white; 
	border: 1px solid #CC9900 
}

nav ul ul a:hover { 
	background-color:#F5F5CC; 
	width:100%; 
}

nav ul ul a {
	padding:10px 0px;  
	border-right:none; 
	font:11px, Times New Roman; 
}

#map-canvas {
	border-radius: 25px;
}









<<<<<<< HEAD
}
=======
>>>>>>> 3023f9bd731189317f90720215a77d672df3c8ff
