

html, body {
    margin: 0;
}

#share-buttons {
	position: absolute;
	top:22px;
	right:10px;
	border-left: 1px solid #99cc66;
}

#share-buttons img {
	width: 30px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: block;
}
 
.menu_box_background {
	float: left; 
	height: 100%; 
	width:33%; 
	background-color: #99cc66; 
	padding: 20px; 
	z-index: 1000;
	position: absolute;
	opacity: 0.8;	
	overflow: hidden;
	border-radius: 5px;
}

.menu_box {
	float: left; 
	height: 100%; 
	width:33%;
	padding: 20px; 
	text-align: left;
	z-index: 1000;
	position: absolute;
	overflow: scroll;
	border-radius: 5px;
	font: 14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;

}


.body {
	overflow: hidden;
	height: 100%;
	position: relative;

}

.wrapper {
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.header {
	height: auto;
	overflow: hidden;
}

.logo {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
}

#search {
	margin-left: 100px;
	text-decoration:none; 
}

.SeeMore {
  background: white;
  border-radius: 4px;
  font-size: 15px;
  padding: 5px;
  border: solid black 1px;
  text-decoration: none;
  font: 14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.SeeMore:hover {
  background: #99cc66;
  text-decoration: none;
  font-weight: bold;
  font: 14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}


.stripe {
    background-color: #2F4F4F;
    width: 100%;
    height: auto;
    margin-top: 130px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 28px;
}

.stripe li {
    text-decoration: none;
    margin-left: 10px;
    color: white;
    font: 14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;    
    display: inline;
}

.stripe li a {
	text-decoration: none;
	color: white;
}

.stripe li a:hover {
    color: white;
    font-weight: bold;
    font: 15px;
}


li { 
	width: 260px;

}

h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}

h3 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}

p {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

nav { 
	z-index: 1001;
    width: 75px;
    height: 10px;
	top: 80px;
    padding: 2px ;  
	position:absolute;
	right: 186px;
	background-color:white; 
	font:14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif; 
	text-align:left;
}

nav ul { 
	padding:0; 
	margin:0; 
}

nav li { 
	position:relative; 
	float:left; 
	list-style-type:none; 
}

nav ul:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}


nav li a{ 
	display:block; 
	text-decoration:none; 
	color: black;
}

nav li a:focus { 
	outline:none; 
	text-decoration:underline; 
}

nav a span { 
	display:block;
	width:100%; 
	float:left; 
}

nav ul ul { 
	display:none; 
	width:100%; 
	position:absolute; 
	left:0; 
	background:white; 
	border: 1px solid #99cc66; 
}

nav ul ul a:hover { 
	background-color:#F5F5CC; 
	width:100%; 
}

nav ul ul a {
	padding:10px 0px;  
	border-right:none; 
	font:11px, Times New Roman; 
}

#map-canvas {
	border-radius: 25px;
}

