

html, body {
    margin: 0;
}


#share-buttons {
	position: absolute;
	top:22px;
	right:10px;
	border-left: 1px solid #99cc66;
}

#share-buttons img {
	width: 30px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: block;
}
 
.menu_box_background {
	float: left; 
	height: 100%; 
	width:33%; 
	background-color: #99cc66; 
	padding: 20px; 
	text-align: left;
	z-index: 1000;
	position: absolute;
	opacity: 0.8;	
	overflow: hidden;
	border-radius: 5px;
}

.menu_box {
	float: left; 
	height: 100%; 
	width:33%; 
	padding: 20px; 
	text-align: left;
	z-index: 1000;
	position: absolute;
	overflow: scroll;
	border-radius: 5px;
}


.body {
	overflow: hidden;
	font-family: "Times New Roman";
	height: 100%;
	position: relative;

}

.wrapper {
	overflow: hidden;
	height: 100%;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.header {
	height: auto;
	overflow: hidden;
	border-bottom: 1px solid #99cc66;

}

.header_wrapper {
	position: relative;
	overflow: hidden;
	padding: 15px;
}

.logo {
	overflow: hidden;
	float: left;
	margin-right: 10px;
	padding-right: 10px;
}

.links {
	position: relative;
	min-height: auto;
	background-color: white; 
	overflow: hidden;
	margin-top: 30px;
	font: 14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
}

.left {
	overflow: hidden;
	float: left;
	border-right: 1px solid #99cc66;
	margin-right: 10px;
}

.right {
	overflow: hidden;
	margin-left: 0px;
}

.links li {
	text-decoration:none; 
	list-style-type:none; 
}

#search {
	margin-left: 100px;
	text-decoration:none; 
}

li { 
	width: 260px;

}

h1 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}

h3 {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
}

p {
	font-family: Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}


nav { 
	z-index: 1001;
    width: 75px;
    height: 10px;
	top: 75px;
    padding: 2px ;  
	position:absolute;
	right: 186px;
	background-color:white; 
	font:14px Optima, Segoe, 'Segoe UI', Candara, Calibri, Arial, sans-serif; 
	text-align:left;
}

nav ul { 
	padding:0; 
	margin:0; 
}

nav li { 
	position:relative; 
	float:left; 
	list-style-type:none; 
}

nav ul:after { 
	content:"."; 
	display:block; 
	height:0; 
	clear:both; 
	visibility:hidden; 
}


nav li a{ 
	display:block; 
	text-decoration:none; 
	color: black;
}

nav li a:focus { 
	outline:none; 
	text-decoration:underline; 
}

nav a span { 
	display:block;
	width:100%; 
	float:left; 
}

nav ul ul { 
	display:none; 
	width:100%; 
	position:absolute; 
	left:0; 
	background:white; 
	border: 1px solid #99cc66; 
}

nav ul ul a:hover { 
	background-color:#F5F5CC; 
	width:100%; 
}

nav ul ul a {
	padding:10px 0px;  
	border-right:none; 
	font:11px, Times New Roman; 
}

#map-canvas {
	border-radius: 25px;
}

