#menu {
	position: relative;
	right: 40px; 
}

#menu_box {
	float: left; 
	height: 100%; 
	width:30%; 
	background-color: blue; 
	padding: 20px; 
	text-align: right
}

body {
	font-family: "Times New Roman";
}
