<h2> About the application </h2>

<p>This project aims to develop a dynamic application intended to be used by culture and tradition enthusiast as well as those wanting to find out more about local history. </p> <br\>
<p> It features functions such as geolocation; a database with a number of ballads; social network links allowing the user to share ballads they like; and many others. </p> <br\>
<p> If used outdoors, the geolocation function will show a concrete position of the user who will subsequently be able to see ballads that had been written in the area. </p>
