<div class="form">
	<form>
		Name:<br>
		<input type="text" name="firstname" placeholder="Your Name"><br>
		Email:<br>
		<input type="text" name="firstname" placeholder="Your Email"><br>
		Message:<br>
		<textarea name="textarea" rows="10" cols="30" placeholder="Your Message"></textarea><br>
		<input type="submit" value="Submit">
	</form>
</div>