
<h2> Welcome to The Ballad Trail </h2>
<br\> <br\>
<p> To find out more about the application, select 'About' from the menu. </p>
<br\>
<p> To browse our ballad database, use the search option. </p>
<br\>
<p> To add your ballads, login (or signup) first and then click 'new ballad'. </p>