<div class="container-fluid">
	<div class="jumbotron">
  	<h2 align="center">WELCOME TO <br>THE BALLAD TRAIL</h2>
	</div>
	<p> To find out more about the application, select 'About' from the menu. </p>
	<p> To browse our ballad database, use the search option.</p>
	<p> To add your ballads, login (or signup) first and then click 'new ballad'.</p>
</div>