<h1>PLACES </h1>

<div class="table-responsive">
	<table class="table table-condensed">
		<tbody>
			<% @places.each do |place| %>
				<tr><div class="col-md-12">
					<td><div class="thumbnail">
					<%= image_tag place.image %>
					</div></td>
					<td><div class="placename">
					<h4><%= link_to place.name, place %></h4>
					</div></td>
				</div></tr>
			<% end %>
		</tbody>
	</table>
</div>



<% if end_user_signed_in? %>
<p><%= link_to 'Fancy adding a Ballad?', new_place_path %></p>
<% else %>
<p><%= link_to 'Sign in to add new ballads', new_end_user_session_path %></p>
<% end %>