<h1>PLACES </h1>

<p><% @places.each do |place| %></p>
	<h3><%= link_to place.name, place %></h3>
	<% end %>

<% if end_user_signed_in? %>
<p><%= link_to 'Fancy adding a Ballad?', new_place_path %></p>
<% end %>